In [1]:
import pandas as pd
import numpy as np 
import re, json, os , logging 
from lib.config import connstr
from lib.context import context
from lib.utils import * 
from lib.picklist_recommender import picklist_recommender
from lib.issue_provider import issue_provider
from lib.questionnaire_parser import questionnaire_parser
from lib.questionnaire_picklist_parser import questionnaire_picklist_parser
from lib.script_generator import script_generator 
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.options import Options
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC 
from bs4 import BeautifulSoup  
ctx=context() 
ctx.logger.setLevel(logging.DEBUG)
config = {}
with open('config.json', 'r') as f: 
    config=json.loads(f.read())    
ctx.config=config 
import warnings
warnings.filterwarnings('ignore')

In [ ]:
ip = issue_provider(ctx)  
df=ip.parse_metrics('9311')
df

In [ ]:
ip.driver.quit()

In [ ]:
for i in range(1,9):
    print(f"""
		IF @SUM_4_1_{i} > @ANS_4_1
		BEGIN
			INSERT INTO @ErrorTable  
			SELECT  PK_Question, PK_FormPage, page_sort_pos, questgroup_sort_pos, quest_sort_pos
			, ('The sum provided for ' + identifier_text + ' should not exceed the value of 4.1 : '  + QuestionText) Error, identifier_text
			FROM vw_OrgSubQuestions WHERE  identifier_text='4.1.{i}' AND PK_OrgSubmission = @PK_OrgSubmission  
		END""")

In [ ]:
with open(ctx.get_tempalte_dir()+'sum.sql', 'r') as f:
    s=f.read() 
df=sql_todf("""
SELECT DISTINCT IdText AS [{idt}], REPLACE(IdText, '.','_') [{var}],SectionNum, SortPos FROM vwQuestions  
WHERE PK_FORM = '2023-Q1-CIO' AND IdText LIKE '4.1._._' ;
""", connstr) 

df['{var}'] = df['{var}'].apply(lambda s : '@SUM_'+re.sub('_[a-z]$','',s))
df['{idt}'] = df['{idt}'].apply(lambda s : f'\'{s}\'') 
df = df.groupby('{var}', as_index=False).agg({'{idt}':list})
df

In [ ]:

df['sql']=[s.replace('{idt}',','.join(x)).replace('{var}',y) for x,y in zip(df['{idt}'], df['{var}'])]
with open(ctx.get_dest()+'script.sql', 'w') as f:
    f.write( '\n'.join(list(df['sql'])) ) 
df

In [ ]:
with open(ctx.get_tempalte_dir()+'frmval.sql', 'r') as f:
    s=f.read() 
df=sql_todf("""
SELECT DISTINCT IdText AS [{idt}], REPLACE(IdText, '.','_') [{var}],SectionNum, SortPos FROM vwQuestions  
WHERE PK_FORM = '2023-Q1-CIO' AND Q_TypeId IN (2,17)  ORDER BY  SectionNum, SortPos;
""", connstr) 

df['sql']=s
df['sql']=[x.replace('{idt}',y).replace('{var}',z) for x,y,z in zip(df['sql'], df['{idt}'], df['{var}'])]
 
with open(ctx.get_dest()+'script.sql', 'w') as f:
    f.write( '\n'.join(list(df['sql'])) ) 
df

In [4]:
df,code=generate_code_from_db(ctx,4019) 
df
#sql=df_to_sql(df,ctx,template_name='fsma_QuestionsInsert.sql')

,identifier_text,{idt},id,CTRLCODE,FK_QuestionType,{PK_Question},sortpos,{QuestionText}
0,,9_1,9-1-,SDESC,64,36151,1,Please answer the following questions regardin...
1,6.1,6_1,9-2-6.1,LABEL,18,36152,2,"Fill out the following table, taking into cons..."
2,6.1.1,6_1_1,9-4-6.1.1,CNT,2,36153,4,Forensic Analyst
3,6.1.2,6_1_2,9-5-6.1.2,CNT,2,36154,5,Incident Responder
4,6.1.3,6_1_3,9-6-6.1.3,CNT,2,36155,6,Secure Software Assessor
5,6.1.4,6_1_4,9-7-6.1.4,CNT,2,36156,7,System Testing and Evaluation Specialist
6,6.1.5,6_1_5,9-8-6.1.5,CNT,2,36157,8,Vulnerability Assessment Analyst
7,6.1.6,6_1_6,9-9-6.1.6,CNT,2,36158,9,Threat/Warning Analyst
8,6.1.7,6_1_7,9-10-6.1.7,CNT,2,36159,10,Exploitation Analyst
9,,9_3,9-3-,SDESC,64,36168,3,Number of additional FTEs of this work role ne...

In [2]:

#generate_section(4018, code)
df[:10]

,identifier_text,{idt},id,CTRLCODE,FK_QuestionType,{PK_Question},sortpos,{QuestionText}
0,,8_1,8-1-,LABEL,18,36141,1,Please answer the following questions related ...
1,5.1,5_1,8-2-5.1,CNT,2,36142,2,Number of GFE hardware assets (from 1.2.1-1.2....
2,,8_5,8-5-,SDESC,64,36143,5,[1] - Note that 5.1 + 5.2 + 5.3 must add up to...
3,5.2,5_2,8-3-5.2,CNT,2,36144,3,Number of GFE hardware assets (from 1.2.1-1.2....
4,5.3,5_3,8-4-5.3,CNT,2,36145,4,Number of GFE hardware assets (from 1.2.1-1.2....

In [ ]:
def generate_section(section, code=''): 
    df=sql_todf("SELECT DISTINCT PK_QuestionGroup, ASPX FROM vwQuestions  WHERE PK_FORM = '2023-Q1-CIO'", connstr).set_index('PK_QuestionGroup' )
    d=df.T.to_dict(orient='records')[0] 
    print(d)
    path=f'C:\\dev\\CyberScope\\CyberScopeBranch\\CSwebdev\\code\\CyberScope\\{d[section]}'
    with open(path, 'r', encoding='utf-16') as f:
        s=f.read() 
    pname = d[section][d[section].rfind('/')+1:]
    if '<!--questions-->' in s:
        q=re.findall('<!--questions-->.+<!--\/questions-->',s,re.DOTALL)[0]
        s=s.replace(q,f'<!--questions-->\n{code}\n<!--/questions-->')
        with open(f"{ctx.get_dest()}{pname}", 'w', encoding='utf-16') as f:
            f.write(s)

In [ ]:

def parse_grid(tnum, pk, QCol='Question', PivotCols=4): 
    driver.get(f"https://dayman.cyber-balance.com/jira/si/jira.issueviews:issue-html/CS-{tnum}/CS-{tnum}.html")   
    ldf = pd.read_html(driver.page_source, match="\d\.\d\.\d", header=1)
    df=ldf[0].iloc[:,:].rename(columns={QCol: "QuestionText"})
 
    df['identifier_text'] = df['QuestionText'].apply(lambda s: re.findall('^[\d\.\w]{1,7}',s)[0])
    stypes = {k: chr(v+97) for v, k in enumerate(list(df.columns[1:4]))} 
    print(stypes)
    df=df.loc[:,['QuestionText','identifier_text']] 
    df['CTRLCODE']='LABEL'
    lod=df.to_dict(orient='records')
    l=[]
    for i,r in enumerate(lod):
        l.append(lod[i])
        for k in stypes.keys():
            id=lod[i]['identifier_text']+'.'+stypes[k]
            l.append({
                'identifier_text':id
                , 'QuestionText': id+' '+k
                , 'CTRLCODE':'CNT'
                })
    df=pd.DataFrame(l)
    df['{PK_Question}'] = range(pk,len(df)+pk)
    df['sortpos'] = range(1,len(df)+1) 
    df['FK_QuestionType'] = df['CTRLCODE'].apply(lambda s: 2 if s=='CNT' else 18)
    df['QuestionText']=df['QuestionText'].apply(lambda s: re.sub('^[\d\.\w]{1,7}','',s, count=1).strip())
    df['{QuestionText}']=df['QuestionText']
    df['{idt}'] = df['identifier_text'].str.replace('.','_')
    with open (ctx.get_tempalte_dir()+'fsma_QuestionsInsert.sql', 'r') as f:
        df['sql']=f.read() 
    for i,r in df.iterrows():
        for c in df.columns: 
            df.loc[i,'sql']= re.sub(str(c),str(df.loc[i,c]),df.loc[i,'sql'])  
    sql='\n,'.join(df['sql'])
    with open(f'{ctx.get_dest()}script.sql', 'w') as f:
        f.write(sql)

    gen=script_generator(ctx)
    code=gen.generate(df)
    with open(f'{ctx.get_dest()}script.aspx', 'w') as f:
        f.write(code)
    
    return df,sql,code

# df,sql,code=parse_grid('9295',37400, QCol='Type of Test')
# print(sql)

In [ ]:
df=pd.DataFrame(range(1,2))
df["identifier_text"]=df[0].apply(lambda s : '3.3.'+str(s))
df['CTRLCODE']='LABEL'
df['m']=[['a Tier EL0 Not Effective','b Tier EL1 Basic','c Tier EL2 Intermediate','d Tier EL3 Advanced'] for i in range(len(df))]
lbls=df
df=df.explode('m')
df=pd.concat([lbls,df]) 
df['CTRLCODE']=df['m'].apply(lambda s: 2 if type(s)==str else 18)
df.sort_values([0,'CTRLCODE'], ascending=[True,False], inplace=True) 
df['m']=df['m'].apply(lambda s: s if type(s)!=list else '') 
df['QuestionText']=  df['m'].apply(lambda s: s[2:])
df["identifier_text"]=df["identifier_text"]+ ''+ df['m'].apply(lambda s: s.split(' ')[0])
df['{PK_Question}'] = range(37250,len(df)+37250)
df['sortpos'] = range(50,len(df)+50) 
df['FK_QuestionType'] = df['CTRLCODE']
df['CTRLCODE'] = df['FK_QuestionType'].apply(lambda s: 'CNT' if s==2 else 'LABEL')  
df['{idt}'] = df['identifier_text'].str.replace('.','_')
df.drop(columns=[0,'m'], inplace=True)
df