In [63]:
import pandas as pd
import numpy as np 
import re, json, os , logging , random, html, datetime
import openpyxl
from openpyxl import Workbook 
from os import listdir
from os.path import isfile, join
from lib.config import connstr
from lib.context import context
from lib.utils import * 
from lib.picklist_recommender import picklist_recommender
from lib.issue_provider import issue_provider
from lib.questionnaire_parser import questionnaire_parser
from lib.questionnaire_picklist_parser import questionnaire_picklist_parser
from lib.script_generator import script_generator   
ctx=context() 
ctx.logger.setLevel(logging.DEBUG)
config = {}
with open('config.json', 'r') as f: 
    config=json.loads(f.read())    
ctx.config=config 
import warnings
warnings.filterwarnings('ignore')

In [64]:
pl=sql_todf("""
SELECT UPPER(LTRIM(RTRIM(DisplayValue))) [Selections], PK_PickList [ML_Value], PK_PickListType [PLT]
FROM vwPickLists  
WHERE PK_PickListType > 410
ORDER BY PK_PickListType DESC
""", connstr)  
s=list(pl.loc[pl['PLT']==427]['Selections'])
print(s)

['YES, INTERNAL TRAFFIC ONLY', 'YES, EXTERNAL TRAFFIC ONLY', 'YES, BOTH INTERNAL AND EXTERNAL TRAFFIC', 'NO', 'UNKNOWN']

In [65]:
filepath = r'C:\Users\timko\Downloads\Questionnaire\HVA Data Protection Questionnaire v0.1.xlsx'
path=r'C:\Users\timko\Downloads\Questionnaire\\'
files = [f for f in listdir(path) if re.search('^HVA.*1\.xlsx', f)]
print(files)
xlfile=files[2]
xlsx= openpyxl.load_workbook(f'{path}{xlfile}')
xlfile

['HVA Asset Management Questionnaire v0.1.xlsx', 'HVA Business Continuity Management Questionnaire v0.1.xlsx', 'HVA Data Protection Questionnaire v0.1.xlsx', 'HVA Endpoint Protection Questionnaire v0.1.xlsx', 'HVA Identity and Access Management Questionnaire v0.1.xlsx', 'HVA Monitoring and Detection Questionnaire v0.1.xlsx', 'HVA Network Architecture Questionnaire v0.1.xlsx', 'HVA Remote Access Questionnaire v0.1.xlsx', 'HVA Vulnerability Management Questionnaire v0.1.xlsx']

'HVA Data Protection Questionnaire v0.1.xlsx'

In [66]:
converts={
    'Selections':lambda x: re.sub('\d{,2}\.','',str(x)).upper().strip()
    , 'ML':lambda x: str(x).strip()
    , 'SML':lambda x: re.sub('[^A-Z0-9]','',str(x)).strip()  }
df=pd.read_excel(f'{path}{xlfile}', converters=converts,  sheet_name=4, header=2, usecols='B:I').reset_index()
df = df.rename(columns={'ML Score': 'ML_Score','ML Scored': 'ML_Scored' })
for c in ['ID','Question','SML']:
    df[c] = df[c].replace(to_replace=[0, '0'], method='ffill')
df["ID"].fillna(method='ffill', inplace=True) 
df.drop(columns=['Check Answer', 'index'], inplace=True)
df.loc[df['ID']=='DP3']

,ID,Question,Selections,SML,ML,ML_Score,ML_Scored
8,DP3,Does the agency have established HVA data prot...,YES,SML1,1,1,0
9,DP3,Does the agency have established HVA data prot...,NO,SML1,1,0,0
10,DP3,Does the agency have established HVA data prot...,UNKNOWN,SML1,1,0.001,0

In [67]:
df = df.loc[ df["ID"].str.contains('^\w\w\d(\w){0,5}$', na=False, regex=True) ]  
df = df.loc[ df["ML"].str.contains('\d', na=False,  regex=True, case=False) ]  
df['ML_Score'] = df['ML_Score'].apply(lambda s: re.sub('[^0-9\.]','',str(s)))
df['Selections'] = df['Selections'].apply(lambda x: re.sub('[^A-Za-z0-9\s]','',str(x)))
df.loc[df['ID']=='DP3']

,ID,Question,Selections,SML,ML,ML_Score,ML_Scored
8,DP3,Does the agency have established HVA data prot...,YES,SML1,1,1,0
9,DP3,Does the agency have established HVA data prot...,NO,SML1,1,0,0
10,DP3,Does the agency have established HVA data prot...,UNKNOWN,SML1,1,0.001,0

In [68]:
dfp=df.groupby(['ID'], as_index=False).agg({'Selections':list}) 
pr = picklist_recommender(ctx.config['connstr'], reset_cache=True, picklist_where=' PK_PickListType > 410 ') 
dfp['PLT']=dfp['Selections'].apply(lambda s: pr.recommend(s)['PK_PicklistType'])
pr.to_cache() 

dff=pd.merge(df,dfp.loc[:,['ID','PLT']], how='left', left_on='ID', right_on='ID')
dff=pd.merge(dff,pl, how='left', left_on=['Selections','PLT'], right_on=['Selections','PLT'])
dff.ML_Value=dff.ML_Value.fillna(0).astype('int32').astype('str')
dff.loc[dff['ID']=='DP3']

,ID,Question,Selections,SML,ML,ML_Score,ML_Scored,PLT,ML_Value
0,DP3,Does the agency have established HVA data prot...,YES,SML1,1,1,0,423,4714
1,DP3,Does the agency have established HVA data prot...,NO,SML1,1,0,0,423,4715
2,DP3,Does the agency have established HVA data prot...,UNKNOWN,SML1,1,0.001,0,423,4716

In [69]:
df1=dff
df1.SML.fillna(method='ffill', inplace=True)
df1=df1.loc[df1['ML_Score'] != '0']
df1['sortorder'] = range(1, len(df1)+1)
#df1['ML_Score']=df1['ML_Score'].astype(float)
sql=SQL_INSERT_FROM_DF(df1.loc[:, ['ID', 'SML', 'ML','ML_Score', 'ML_Scored', 'ML_Value', 'sortorder']])
with open(f'{ctx.get_dest()}script.sql', 'w') as f:
    f.write('\n'.join(sql))
df1.loc[df1['ID']=='DP3']

--DECLARE @T AS TABLE (ID NVARCHAR(MAX), SML NVARCHAR(MAX), ML NVARCHAR(MAX), ML_Score NVARCHAR(MAX), ML_Scored NVARCHAR(MAX), ML_Value NVARCHAR(MAX), sortorder NVARCHAR(MAX))
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP3', 'SML1', '1', '1', 0, '4714', 1);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP3', 'SML1', '1', '0.001', 0, '4716', 2);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP3a', 'SML1', '1', '1', 0, '4714', 3);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP3a', 'SML1', '1', '0.001', 0, '4716', 4);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP3b', 'SML1', '1', '1', 0, '4714', 5);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP3b', 'SML1', '1', '0.001', 0, '4716', 6);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP3c', 'SML1', '1', '1', 0, '4714', 7);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP3c', 'SML1', '1', '0.001', 0, '4716', 8);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP3d', 'SML1', '1', '1', 0, '4714', 9);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP3d', 'SML1', '1', '0.001', 0, '4716', 10);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP3e', 'SML1', '1', '1', 0, '4714', 11);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP3e', 'SML1', '1', '0.001', 0, '4716', 12);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP3f', 'SML2', '2', '1', 0, '4714', 13);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP3f', 'SML2', '2', '0.001', 0, '4716', 14);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP4', 'SML2', '2', '1', 0, '4714', 15);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP4', 'SML2', '2', '0.001', 0, '4716', 16);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP5', 'SML1', '1', '1', 0, '4714', 17);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP5', 'SML1', '1', '0.001', 0, '4716', 18);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP6a', 'SML2', '2', '1', 0, '4714', 19);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP6a', 'SML2', '2', '0.001', 0, '4716', 20);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP7', 'SML2', '2', '1', 0, '4714', 21);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP7', 'SML2', '2', '0.001', 0, '4716', 22);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP7a', 'SML2', '2', '1', 0, '4714', 23);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP7a', 'SML2', '2', '0.001', 0, '4716', 24);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP7b', 'SML3', '3', '1', 0, '4714', 25);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP7b', 'SML3', '3', '0.001', 0, '4716', 26);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP8', 'SML3', '3', '1', 0, '4714', 27);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP8', 'SML3', '3', '0.001', 0, '4716', 28);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP9a', 'SML2', '2', '1', 0, '4714', 29);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP9a', 'SML2', '2', '0.001', 0, '4716', 30);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP9b1', 'SML1', '1', '1', 0, '4714', 31);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP9b1', 'SML1', '1', '0.001', 0, '4716', 32);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP9b2', 'SML1', '1', '1', 0, '4714', 33);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP9b2', 'SML1', '1', '0.001', 0, '4716', 34);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP9b3', 'SML3', '3', '1', 0, '4714', 35);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP9b3', 'SML3', '3', '0.001', 0, '4716', 36);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP9c1', 'SML2', '2', '0.2', 0, '4820', 37);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP9c1', 'SML2', '2', '0.2', 0, '4821', 38);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP9c1', 'SML2', '2', '0.2', 0, '4822', 39);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP9c1', 'SML2', '2', '0.2', 0, '4823', 40);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP9c1', 'SML2', '2', '0.2', 0, '4824', 41);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP9c1', 'SML2', '2', '0.001', 0, '4825', 42);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP9c2', 'SML1', '1', '1', 0, '4714', 43);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP9c2', 'SML1', '1', '0.001', 0, '4716', 44);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP10', 'SML1', '1', '1', 0, '4714', 45);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP10', 'SML1', '1', '0.001', 0, '4716', 46);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP11', 'SML1', '1', '1', 0, '4714', 47);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP11', 'SML1', '1', '0.001', 0, '4716', 48);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP11a', 'SML1', '1', '1', 0, '4714', 49);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP11a', 'SML1', '1', '0.001', 0, '4716', 50);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP11b', 'SML2', '2', '1', 0, '4714', 51);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP11b', 'SML2', '2', '0.001', 0, '4716', 52);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP11b1', 'SML3', '3', '1', 0, '4714', 53);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP11b1', 'SML3', '3', '0.001', 0, '4716', 54);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP11c', 'SML2', '2', '1', 0, '4714', 55);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP11c', 'SML2', '2', '0.001', 0, '4716', 56);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP11d', 'SML1', '1', '1', 0, '4714', 57);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP11d', 'SML1', '1', '0.001', 0, '4716', 58);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP11e', 'SML2', '2', '1', 0, '4714', 59);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP11e', 'SML2', '2', '0.001', 0, '4716', 60);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP11f', 'SML1', '1', '1', 0, '4714', 61);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP11f', 'SML1', '1', '0.001', 0, '4716', 62);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP11g', 'SML2', '2', '1', 0, '4714', 63);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP11g', 'SML2', '2', '0.001', 0, '4716', 64);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP11g1', 'SML3', '3', '1', 0, '4714', 65);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP11g1', 'SML3', '3', '0.001', 0, '4716', 66);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP12a', 'SML3', '3', '1', 0, '4834', 67);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP12a', 'SML2', '2', '1', 0, '4835', 68);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP12a', 'SML2', '2', '0.001', 0, '4836', 69);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP13', 'SML3', '3', '1', 0, '0', 70);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP13', 'SML2', '2', '1', 0, '0', 71);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP13', 'SML2', '2', '0.001', 0, '4829', 72);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP14', 'SML1', '1', '1', 0, '4714', 73);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP14', 'SML1', '1', '0.001', 0, '4716', 74);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP14a', 'SML1', '1', '1', 0, '4714', 75);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP14a', 'SML1', '1', '0.001', 0, '4716', 76);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP14a1', 'SML2', '2', '1', 0, '4714', 77);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP14a1', 'SML2', '2', '0.001', 0, '4716', 78);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP14b', 'SML2', '2', '1', 0, '4714', 79);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP14b', 'SML2', '2', '0.001', 0, '4716', 80);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP14c', 'SML3', '3', '1', 0, '4714', 81);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP14c', 'SML3', '3', '0.001', 0, '4716', 82);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP14d', 'SML3', '3', '1', 0, '4714', 83);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP14d', 'SML3', '3', '0.001', 0, '4716', 84);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP15', 'SML1', '1', '1', 0, '4714', 85);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP15', 'SML1', '1', '0.001', 0, '4716', 86);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP15a', 'SML2', '2', '1', 0, '4714', 87);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP15a', 'SML2', '2', '0.001', 0, '4716', 88);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP15b', 'SML1', '1', '1', 0, '4714', 89);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP15b', 'SML1', '1', '0.001', 0, '4716', 90);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP16', 'SML1', '1', '1', 0, '4714', 91);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP16', 'SML1', '1', '0.001', 0, '4716', 92);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP16a', 'SML2', '2', '1', 0, '4714', 93);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP16a', 'SML2', '2', '0.001', 0, '4716', 94);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP17', 'SML1', '1', '1', 0, '0', 95);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP17', 'SML2', '2', '1', 0, '0', 96);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP17', 'SML3', '3', '1', 0, '0', 97);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP17', 'SML3', '1', '0.001', 0, '4833', 98);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP17a', 'SML3', '3', '1', 0, '4714', 99);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP17a', 'SML3', '3', '0.001', 0, '4716', 100);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP18', 'SML3', '3', '1', 0, '4714', 101);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP18', 'SML3', '3', '0.001', 0, '4716', 102);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP18a', 'SML3', '3', '1', 0, '4714', 103);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP18a', 'SML3', '3', '0.001', 0, '4716', 104);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP18b', 'SML3', '3', '1', 0, '4714', 105);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP18b', 'SML3', '3', '0.001', 0, '4716', 106);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP18c', 'SML3', '3', '1', 0, '4714', 107);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP18c', 'SML3', '3', '0.001', 0, '4716', 108);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP19', 'SML3', '3', '1', 0, '4714', 109);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP19', 'SML3', '3', '0.001', 0, '4716', 110);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP20', 'SML2', '2', '1', 0, '4714', 111);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP20', 'SML2', '2', '0.001', 0, '4716', 112);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP20a', 'SML2', '2', '1', 0, '4714', 113);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP20a', 'SML2', '2', '0.001', 0, '4716', 114);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP21', 'SML1', '1', '1', 0, '4714', 115);
INSERT INTO @T (ID, SML, ML, ML_Score, ML_Scored, ML_Value, sortorder) VALUES ('DP21', 'SML1', '1', '0.001', 0, '4716', 116)

,ID,Question,Selections,SML,ML,ML_Score,ML_Scored,PLT,ML_Value,sortorder
0,DP3,Does the agency have established HVA data prot...,YES,SML1,1,1,0,423,4714,1
2,DP3,Does the agency have established HVA data prot...,UNKNOWN,SML1,1,0.001,0,423,4716,2