In [ ]:
import pandas as pd
import numpy as np 
import re   
import warnings
warnings.filterwarnings('ignore')  
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import minmax_scale 
sns.set(rc={'figure.figsize':(17,7)}) 
sns.set_theme(style="whitegrid")

In [162]:
df=pd.read_csv(r'C:\Users\Tim\Downloads\dataSample1.csv')   
df['M'] = df['Gender'].apply(lambda s: 1 if s==1 else 0 )
df['F'] = df['Gender'].apply(lambda s: 1 if s==0 else 0 )
df['Gender'] = df['Gender'].apply(lambda s: 'M' if s==1 else 'F' )
df['AP'] = round( df['Purchase History ($)'] / df['Purchase History (#)'] , 2 )
df['B$'] = pd.cut(df['Purchase History ($)'], [0,75,200,500], labels=['L','M','H']) 
df['B#'] = pd.cut(df['Purchase History (#)'], [0,9,25,38], labels=['L','M','H']) 
df['BAP'] = pd.cut(df['AP'], [0,10,20,30,40,50,60,70,80,90,100]) 
dfb = df.loc[df['Buy']==1]
dfnb = df.loc[df['Buy']==0] 
print('all')
df[150:166]
df['BAP'].describe()

all

,Buy,Gender,Purchase History ($),Purchase History (#),Recency (Months),M,F,AP,B$,B#,BAP
150,0,M,202,10,2,1,0,20.20,H,M,"(20, 30]"
151,0,M,325,8,2,1,0,40.62,H,L,"(40, 50]"
152,0,M,15,6,1,1,0,2.50,L,L,"(0, 10]"
153,1,M,219,14,7,1,0,15.64,H,M,"(10, 20]"
154,0,M,433,6,11,1,0,72.17,H,L,"(70, 80]"
155,0,F,123,18,1,0,1,6.83,M,M,"(0, 10]"
156,0,M,186,12,1,1,0,15.50,M,M,"(10, 20]"
157,0,F,333,34,4,0,1,9.79,H,H,"(0, 10]"
158,0,F,365,14,8,0,1,26.07,H,M,"(20, 30]"
159,0,F,206,36,1,0,1,5.72,H,H,"(0, 10]"
160,0,M,50,14,2,1,0,3.57,L,M,"(0, 10]"
161,0,F,154,12,10,0,1,12.83,M,M,"(10, 20]"
162,0,M,16,16,1,1,0,1.00,L,M,"(0, 10]"
163,0,F,48,12,1,0,1,4.00,L,M,"(0, 10]"
164,0,M,188,34,4,1,0,5.53,M,H,"(0, 10]"
165,0,M,365,14,10,1,0,26.07,H,M,"(20, 30]"

In [ ]:
print('all')
sns.barplot(x=df['Gender'].value_counts().index, y=df['Gender'].value_counts())

In [ ]:
print('non participant')
sns.barplot(x=dfnb['Gender'].value_counts().index, y=dfnb['Gender'].value_counts())

In [ ]:
print('participant')
sns.barplot(x=dfb['Gender'].value_counts().index, y=dfb['Gender'].value_counts())

In [ ]:
g = df.groupby(['Recency (Months)', 'B$'], as_index=False).sum()
g.head()

In [ ]:
sns.barplot(data=g  , x="Recency (Months)",  y='Buy', hue='B$')

In [ ]:
sns.barplot(data=dfnb, x="Recency (Months)",  y='Pur', hue='Gender' )

In [ ]:
sns.barplot(data=dfnb, x="Recency (Months)",  y='Purchase History (#)', hue='Gender' )

In [ ]:
g = df.groupby(['BAP'], as_index=False).sum()
g