In [1]:
import re, subprocess, pyodbc 
import numpy as np # linear algebra 
from sqlalchemy import func, create_engine
from config import mongoConn, connstr  
import pandas as pd

In [2]:
engine = create_engine(connstr) 
def get_df(query):
    conn = engine.connect() 
    df = pd.read_sql(query,con=conn) 
    conn.close()
    return df

In [64]:
def id_split(s):
    s = s + '000'
    s = re.sub('[^\d]', '', s)  
    return s[:4]

print( id_split('5.1-4') )

5140

In [243]:
query = f""" \
    SELECT TOP 5000 
    ID
    , PK_Question
    , QGROUP
    , '@FormName' AS  FormName
    , '@PK_QGroup' AS  FK_QuestionGroup
    , sortpos AS  sortpos
    , IDTEXT AS  IDTEXT
    , NULL AS  Column_Question
    , NULL AS  FK_Question_Picklist
    , ISNULL(FK_PickListType, '')  AS  FK_PickListType
    , ISNULL(FK_QuestionType, '') AS  FK_QuestionType
    , NULL AS  FK_InputType
    , CONVERT(NVARCHAR(5), FK_PickList) AS FK_PickList
    , NULL AS  WarningQuestion
    , NULL AS  reportable
    , NULL AS  ExternalLinkType
    , NULL AS  PK_ExternalLink
    , ISNULL(QText, '') AS  QuestionText
    , ISNULL(help_text, '') AS  help_text 
    FROM vwQuestions  
	WHERE PK_FORM LIKE '2021-A-HVA' AND QGROUP =  2431
"""  
dfq  = get_df(query).fillna('NULL')
cols = list(dfq) # Creates list of all column headers
dfq[cols] = dfq[cols].astype(str)
dfq[10:12]

,ID,PK_Question,QGROUP,FormName,FK_QuestionGroup,sortpos,IDTEXT,Column_Question,FK_Question_Picklist,FK_PickListType,FK_QuestionType,FK_InputType,FK_PickList,WarningQuestion,reportable,ExternalLinkType,PK_ExternalLink,QuestionText,help_text
10,0-35-6.8.1,22585,2431,@FormName,@PK_QGroup,35,6.8.1,NULL,NULL,0,17,NULL,161,NULL,NULL,NULL,NULL,"If Yes, then is the interdependency upstream, ...",
11,0-36-7,22586,2431,@FormName,@PK_QGroup,36,7,NULL,NULL,0,17,NULL,156,NULL,NULL,NULL,NULL,HVA system management type,

In [270]:
df = pd.read_excel(r'C:\Users\Tim\Documents\1802\HVA\HVA1.xlsx', sheet_name='0').fillna('NULL') 
cols = list(df) # Creates list of all column headers
df[cols] = df[cols].astype(str)
df

    IDTEXT    QPK SPOS
0        1  28200    0
1      1.1  28201    1
2    1.1.1  28202    2
3        2  28203    3
4      2.1  28204    4
..     ...    ...  ...
118   21.3  28318  118
119   21.4  28319  119
120   21.5  28320  120
121   21.6  28321  121
122   21.7  28322  122

[123 rows x 3 columns]

In [276]:
dff = pd.merge( df, dfq, how='left', on='IDTEXT').fillna('NULL')
dff.sort_values([ 'QPK' ], inplace=True) 
cols = list(dff) # Creates list of all column headers
dff[cols] = dff[cols].astype(str) 
dff

NameError: name 'NULL' is not defined

In [280]:
sql = "" 
for i, r in dff.iterrows():
    s = "(@QID, @FormName, @PK_QGroup, @SORD, N'@IDTEXT', NULL, NULL, NULL, @QTYPE, 1, @PKTYPE, 0, NULL, NULL, NULL, N'@QTEXT','@HTEXT'),"
    s = s.replace('@QID',  r['QPK'])
    s = s.replace('@SORD', str(i)) 
    s = s.replace('@QTYPE', r['FK_QuestionType']) 
    s = s.replace('@PKTYPE', r['FK_PickList']) 
    s = s.replace('@IDTEXT', r['IDTEXT']) 
    s = s.replace('@QTEXT', r['QuestionText'])  
    s = s.replace('@HTEXT', r['help_text'])  
    sql = sql + s + '\r'
sql = sql.replace("'NULL')", "NULL)")    
sql = sql.replace("N'NULL'", "N''")    
with open(fr'd:\temp\update.sql', 'w') as f:
    f.write(sql)

In [ ]:


query = f""" \
    SELECT TOP 5000 * FROM  vwOrgSubToComponent WHERE PK_FORM LIKE '%{PK_FORM}%' AND Acronym = '{Acronym}'
    """  
df_vwOrgSubToComponent = get_df(query)

query = f""" \
    SELECT TOP 5000 * FROM  vwMetricsAnswers WHERE PK_FORM LIKE '%{PK_FORM}%' AND Acronym = '{Acronym}'
    """  
df_vwMetricsAnswers = get_df(query)

df.to_sql('CVEUnremediated_UPLOAD', engine, index=True, if_exists='replace')

conn = engine.connect() 
conn.execute('DROP TABLE CVEUnremediated_UPLOAD;')
conn.close()

In [296]:
df = pd.read_excel(r'C:\Users\Tim\Documents\1802\HVA\HVA1.xlsx', sheet_name='HVA Service Receivers').fillna('NULL') 
cols = list(df) # Creates list of all column headers
df[cols] = df[cols].astype(str)
df['DisplayCode'] =  df['DisplayValue'].apply(lambda s: re.sub('[^A-Z0-9]','',s.upper()))
df['DisplayCode'] =  df['DisplayCode'].apply(lambda s: re.sub('[AEIOU]','',s)[:6])
s =''
for i,r, in df.iterrows():
    PK_PickList=r['PK_PickList']
    DisplayCode=r['DisplayCode']
    DisplayValue=r['DisplayValue']
    PK_PickList=r['PK_PickList'] 
    s = s + f"({PK_PickList},@PKT, N'{DisplayCode}',N'{DisplayValue}',{i}, GETDATE(), 1),\n"

print(s)

(4200,@PKT, N'FDRLGN',N'Federal Agencies employees',0, GETDATE(), 1),
(4201,@PKT, N'MRGNCY',N'Emergency responders/emergency managers',1, GETDATE(), 1),
(4202,@PKT, N'LCLSTT',N'Local, State and Government personnel',2, GETDATE(), 1),
(4203,@PKT, N'FDRLMP',N'Federal Employees and designated contractors',3, GETDATE(), 1),
(4204,@PKT, N'MMBRSF',N'Members of the general public',4, GETDATE(), 1),
(4205,@PKT, N'NSMSSN',N'NASA (Missions, Services and/or employees)',5, GETDATE(), 1),
(4206,@PKT, N'FDRLLC',N'Federal, Local, State Law Enforcement',6, GETDATE(), 1),
(4207,@PKT, N'NTRNLS',N'Internal USDA Agencies',7, GETDATE(), 1),
(4208,@PKT, N'VPRSNN',N'VA Personnel, VA Contractors, Veterans, Veterans' family members',8, GETDATE(), 1),
(4209,@PKT, N'NMPLYS',N'NOAA employees and contractors',9, GETDATE(), 1),
(4210,@PKT, N'VTNWRK',N'Aviation workers',10, GETDATE(), 1),
(4211,@PKT, N'FDRLCR',N'Federal Credit Unions and other Federal finical personnel',11, GETDATE(), 1),
(4212,@PKT, N'NTRNLN',N'Internal and External Stakeholders',12, GETDATE(), 1),
(4213,@PKT, N'PTNTLF',N'Potential federal employees',13, GETDATE(), 1),
(4214,@PKT, N'PBLCFF',N'Public officials',14, GETDATE(), 1),
(4215,@PKT, N'BRDRPT',N'Border Patrol',15, GETDATE(), 1),
(4216,@PKT, N'CNMCNL',N'Economic Analysts',16, GETDATE(), 1),
(4217,@PKT, N'NFRSTR',N'Infrastructure Support Personnel',17, GETDATE(), 1),
(4218,@PKT, N'SLTTRG',N'SLTT Organizations',18, GETDATE(), 1),
(4219,@PKT, N'FDRLST',N'Federal, State, Local, Tribal, and Territorial communities',19, GETDATE(), 1),
(4220,@PKT, N'MDCLND',N'Medical and Healthcare Personnel',20, GETDATE(), 1),
(4221,@PKT, N'VSPPLC',N'Visa applicants',21, GETDATE(), 1),
(4222,@PKT, N'MLTRYN',N'Military and Defense Personnel',22, GETDATE(), 1),
(4223,@PKT, N'THRGVR',N'other Government systems',23, GETDATE(), 1),
(4224,@PKT, N'THRPBL',N'other public systems',24, GETDATE(), 1),
(4225,@PKT, N'NTRNLG',N'Internal agency users',25, GETDATE(), 1),
(4226,@PKT, N'XTRNLG',N'External agency users',26, GETDATE(), 1),
(4227,@PKT, N'THR',N'Other',27, GETDATE(), 1),
(4228,@PKT, N'NN',N'None',28, GETDATE(), 1),

In [ ]:
query = f""" \
    SELECT TOP 1 * FROM  vwPicklists WHERE PK_FORM LIKE '%{PK_FORM}%' AND Acronym = '{Acronym}'
    """  
df_vwPickLists = get_df(query)

In [ ]:
PK_PickListType = 300
Description = 'BODHVA-300-1'
UsageField = 'BODHVA IDT-1'

s = f"""
DECLARE @PKT INT={PK_PickListType}
SET @PKT=300
DELETE PickLists WHERE PK_PickListType = @PKT
DELETE PickListTypes WHERE PK_PickListType = @PKT 
INSERT INTO PickListTypes(PK_PickListType, Description, UsageTable, UsageField)
SELECT @PKT, 'BODHVA-300-1', NULL, 'BODHVA IDT-1'
"""

SET IDENTITY_INSERT [dbo].[PickLists] ON
INSERT INTO PickLists(PK_PickList, PK_PickListType, CodeValue,DisplayValue, SortPos, LastUpdated, isActive) VALUES 
(3783,@PKT, N'MANFCTRN','Manufacturing',1, GETDATE(), 1), 
SET IDENTITY_INSERT [dbo].[PickLists] OFF