In [1]:
import re, subprocess, pyodbc 
import numpy as np # linear algebra 
from sqlalchemy import func, create_engine
from config import mongoConn, connstr  
import pandas as pd

In [2]:
engine = create_engine(connstr) 
def get_df(query):
    conn = engine.connect() 
    df = pd.read_sql(query,con=conn) 
    conn.close()
    return df

In [3]:
def id_split(s):
    s = s + '000'
    s = re.sub('[^\d]', '', s)  
    return s[:4] 
#print( id_split('5.1-4') )

In [4]:
def id_num(s):
    if s == '':
        return 0
    s = s.strip().lower().replace(' ', '')
    l = ['a','b','c','d','e','f','g','h']
    d = [.100, 1, 100, 10000]
    v = [0,0,0,0]
    for i, c in enumerate(l):
        s = s.replace(c,f'{i}') 
    l = s.split('.')
    for i, c in enumerate(l):
        v[i] =  int(c) / d[i] 
    return sum(v)  
print(id_num('1.1.1')) 
print(id_num('1.1.10.1'))

11.01
11.1001

In [13]:
def normalizedf(df):
    df.drop( columns=[c for c in df.columns if '__' in c ] , inplace=True )   
    cols = list(df)   
    df[cols] = df[cols].astype(str)
    df['IDNUM'] = df['IDTEXT'].apply(id_num)
    df.sort_values(['QGROUP','IDNUM'],inplace=True)   
    df['QPK'] = range(28500, len(df)+28500 )  
    df['sortpos'] = range(1, len(df)+1)  
    return df

In [14]:
query = f""" \
SELECT PK_Question, IDTEXT, QGROUP FROM vwQuestions 
WHERE PK_Form = '2021-A-HVA' AND SectionNum > 1 
ORDER BY SortPos Asc
"""  
df1  = get_df(query) 
df1 = normalizedf(df1)
df1.sort_values(['QGROUP','IDNUM'], inplace=True)
df1.to_csv(r'C:\Users\Tim\Documents\1802\HVA\2021.csv', index=False)  
df1[:]

   PK_Question  IDTEXT QGROUP   IDNUM    QPK  sortpos
0        22693           2433    0.00  28500        1
23       22699           2433    0.00  28501        2
29       22707           2433    0.00  28502        3
5        22850      12   2433  120.00  28503        4
6        22851    12.1   2433  121.00  28504        5
11       22852    12.2   2433  122.00  28505        6
12       22853    12.3   2433  123.00  28506        7
16       22854    12.4   2433  124.00  28507        8
17       22855    12.5   2433  125.00  28508        9
18       22856    12.6   2433  126.00  28509       10
19       22857    12.7   2433  127.00  28510       11
20       22858    12.8   2433  128.00  28511       12
21       22859    12.9   2433  129.00  28512       13
22       22860   12.10   2433  130.00  28513       14
24       22700      13   2433  130.00  28514       15
27       22701    13.1   2433  131.00  28515       16
31       22702      14   2433  140.00  28516       17
32       22703    14.1   2433  141.00  28517       18
25       22713           2434    0.00  28518       19
34       22718           2434    0.00  28519       20
36       22720           2434    0.00  28520       21
38       22722           2434    0.00  28521       22
58       22742           2434    0.00  28522       23
26       22714      15   2434  150.00  28523       24
28       22715    15.1   2434  151.00  28524       25
30       22716      16   2434  160.00  28525       26
33       22717    16.1   2434  161.00  28526       27
35       22719      17   2434  170.00  28527       28
37       22721      18   2434  180.00  28528       29
39       22723      19   2434  190.00  28529       30
40       22724    19.1   2434  191.00  28530       31
41       22725  19.1.1   2434  191.01  28531       32
42       22726  19.1.2   2434  191.02  28532       33
43       22727    19.2   2434  192.00  28533       34
44       22728  19.2.1   2434  192.01  28534       35
45       22729  19.2.2   2434  192.02  28535       36
46       22730    19.3   2434  193.00  28536       37
47       22731  19.3.1   2434  193.01  28537       38
48       22732  19.3.2   2434  193.02  28538       39
49       22733    19.4   2434  194.00  28539       40
50       22734  19.4.1   2434  194.01  28540       41
51       22735  19.4.2   2434  194.02  28541       42
52       22736    19.5   2434  195.00  28542       43
53       22737  19.5.1   2434  195.01  28543       44
54       22738  19.5.2   2434  195.02  28544       45
55       22739    19.6   2434  196.00  28545       46
56       22740  19.6.1   2434  196.01  28546       47
57       22741  19.6.2   2434  196.02  28547       48
59       22743      20   2434  200.00  28548       49
1        22744      21   2435  210.00  28549       50
4        22745    21.1   2435  211.00  28550       51
7        22746    21.2   2435  212.00  28551       52
10       22747    21.3   2435  213.00  28552       53
13       22748    21.4   2435  214.00  28553       54
15       22749    21.5   2435  215.00  28554       55
2        22755      22   2436  220.00  28555       56
3        22756    22.1   2436  221.00  28556       57
8        22757    22.2   2436  222.00  28557       58
9        22758    22.3   2436  223.00  28558       59
14       22759    22.4   2436  224.00  28559       60

In [15]:
query = f""" \
SELECT PK_Question, IDTEXT, QGROUP FROM vwQuestions 
WHERE PK_Form = '2022-A-HVA' AND SectionNum > 1 
ORDER BY SortPos Asc
"""  
df2  = get_df(query) 
df2 = normalizedf(df2)
df2.sort_values(['QGROUP','IDNUM'], inplace=True)
df2.to_csv(r'C:\Users\Tim\Documents\1802\HVA\2022.csv', index=False)  
df2[:2]

Empty DataFrame
Columns: [PK_Question, IDTEXT, QGROUP, IDNUM, QPK, sortpos]
Index: []

In [23]:
df = pd.merge(df1, df2, how='outer', on=['IDTEXT'], suffixes=(None, '__')) 
df = normalizedf(df)
df.to_csv(r'C:\Users\Tim\Documents\1802\HVA\df_years_12.csv', index=False)  
df[0:2]

  IDTEXT                     QuestionText  QGROUP  IDNUM    QPK  sortpos
0    0.1                  HVA Information     nan    1.0  28200        1
1      1  What is the purpose of the HVA?  2431.0   10.0  28201        2

In [60]:
query = f"""  SELECT TOP 1 
    PK_Question, FormName, FK_QuestionGroup,sortpos,identifier_text, FK_QuestionType
    , FK_InputType, FK_PickListType, WarningQuestion, ExternalLinkType, QuestionText, help_text 
    FROM fsma_Questions 
    """  
df_qmeta = get_df(query) 
cols = ','.join(df_qmeta.columns)
INS = f'INSERT INTO fsma_Questions ({cols}) VALUES '
print(INS)

INSERT INTO fsma_Questions (PK_Question,FormName,FK_QuestionGroup,sortpos,identifier_text,FK_QuestionType,FK_InputType,FK_PickListType,WarningQuestion,ExternalLinkType,QuestionText,help_text) VALUES

In [120]:
sql = "" 
for i, r in dff[:].iterrows(): 
    s = "(@QID, @FormName, @PK_QGroup, @SORD, N'@IDTEXT', @QTYPE, 1, @PKTYPE, 0, NULL, N'@QTEXT','@HTEXT'),"
    s = s.replace('@QID',  str(r['QPK']))
    s = s.replace('@SORD', str(i+1)) 
    s = s.replace('@QTYPE', r['FK_QuestionType'])
    s = s.replace('@PKTYPE', r['FK_PickListType'])
    s = s.replace('@IDTEXT', r['IDTEXT']) 
    s = s.replace('@QTEXT', r['QuestionText'].replace('\'', '`').replace('\ufffd', ''))  
    s = s.replace('@HTEXT', r['help_text'])  
    sql = sql + s + '\n'
sql = sql.replace("'~')", "NULL)")    
# sql = sql.replace("N'NULL'", "N''")   
sql = sql.replace("~,", "NULL,")  
# sql = f'{INS}\n {sql}\n' 
print( sql )

(22693, @FormName, @PK_QGroup, 1, N'', 63, 1, NULL, 0, NULL, N'Modernization',NULL),
(22850, @FormName, @PK_QGroup, 2, N'12', 63, 1, NULL, 0, NULL, N'12.0 Does this system directly employ or operate in an environment that has adopted any of the following cybersecurity mitigation technologies?',NULL),
(22851, @FormName, @PK_QGroup, 3, N'12.1', 17, 1, NULL, 0, NULL, N'Adoption of application, data, and enterprise level protections such as Encrypting Data at Rest and Encrypting Data in Transit ',NULL),
(22852, @FormName, @PK_QGroup, 4, N'12.2', 17, 1, NULL, 0, NULL, N'Multi-Factor Authentication',NULL),
(22853, @FormName, @PK_QGroup, 5, N'12.3', 17, 1, NULL, 0, NULL, N'Least Privilege',NULL),
(22854, @FormName, @PK_QGroup, 6, N'12.4', 17, 1, NULL, 0, NULL, N'Application Whitelisting',NULL),
(22855, @FormName, @PK_QGroup, 7, N'12.5', 17, 1, NULL, 0, NULL, N'Mobile Device Management',NULL),
(22856, @FormName, @PK_QGroup, 8, N'12.6', 17, 1, NULL, 0, NULL, N'Cloud-oriented protection (If in a cloud deployment)',NULL),
(22857, @FormName, @PK_QGroup, 9, N'12.7', 17, 1, NULL, 0, NULL, N'Adoption of automation and outcome-oriented security measures',NULL),
(22858, @FormName, @PK_QGroup, 10, N'12.8', 17, 1, NULL, 0, NULL, N'Utilization of shared security services such as Continuous Diagnostics and Mitigation (CDM) ',NULL),
(22859, @FormName, @PK_QGroup, 11, N'12.9', 17, 1, NULL, 0, NULL, N'Security Operations Center (SOC) as a Service ',NULL),
(22860, @FormName, @PK_QGroup, 12, N'12.10', 17, 1, NULL, 0, NULL, N'Other',NULL),
(22699, @FormName, @PK_QGroup, 13, N'', 63, 1, NULL, 0, NULL, N'Major Cyber Incidents',NULL),
(22700, @FormName, @PK_QGroup, 14, N'13', 1, 1, NULL, 0, NULL, N'Has this system had one or more major incident(s) within the last year?','<p>A Major Cyber Incident as defined and directed according to OMB M-21-02</p><ul><li>M-21-02 https://www.whitehouse.gov/wp-content/uploads/2020/11/M-21-02.pdf</li></ul>'),
(22701, @FormName, @PK_QGroup, 15, N'13.1', 2, 1, NULL, 0, NULL, N'Provide the number of major incidents within the last year.',NULL),
(22707, @FormName, @PK_QGroup, 16, N'', 63, 1, NULL, 0, NULL, N'POAMs',NULL),
(22702, @FormName, @PK_QGroup, 17, N'14', 1, 1, NULL, 0, NULL, N'Does this system have any open or unclosed POAMS?',NULL),
(22703, @FormName, @PK_QGroup, 18, N'14.1', 2, 1, NULL, 0, NULL, N'If Yes to above, then provide the total number of  open or unclosed POAMS.',NULL),

In [ ]:
with open(fr'C:\Users\Tim\Documents\1802\HVA\update.sql', 'w') as f:
    f.write(sql)



df = pd.read_excel(r'C:\Users\Tim\Documents\1802\HVA\HVA1.xlsx', sheet_name='PurposePickList').fillna('NULL') 
cols = list(df) # Creates list of all column headers
df[cols] = df[cols].astype(str)
df['DisplayCode'] =  df['DisplayValue'].apply(lambda s: re.sub('[^A-Z0-9]','',s.upper()))
df['DisplayCode'] =  df['DisplayCode'].apply(lambda s: re.sub('[AEIOURST]','',s)[:8])
s =''
for i,r, in df.iterrows():
    PK_PickList=r['PK_PickList']
    DisplayCode=r['DisplayCode']
    DisplayValue=r['DisplayValue'] 
    if DisplayValue=='Other':
        DisplayCode='OTH'
    s = s + f"({PK_PickList},@PKT, N'{DisplayCode}',N'{DisplayValue}',{i}, GETDATE(), 1),\n"

print(s)