In [4]:
import re, subprocess, pyodbc 
import numpy as np # linear algebra 
from sqlalchemy import func, create_engine
from config import mongoConn, connstr  
import pandas as pd
from faker import Faker
fake = Faker()

In [5]:
engine = create_engine(connstr)
conn = engine.connect()
query = """ \
SELECT QPK, QGROUP, IdText, QuestionTypeCode, QuestionTypeID, QTEXT    
FROM  vw_MetricsCompositeKeys
WHERE PK_Form LIKE '%2022-Q1-CIO%'
"""  
df = pd.read_sql(query,con=conn) 
conn.close()

In [ ]:
for i,r in df.iterrows():
    s = ''
    s = s + f" -- {str(r['QPK'])}  {str(r['QGROUP'])}"
    print( s ) 
for i,r in df.iterrows():
    qtext = r['QTEXT'].replace("'","''").replace("\n","").replace("\r","").replace("\t","")
    help_text = r['help_text'].replace("'","''").replace("\n","").replace("\r","").replace("\t","")
    s = f"UPDATE fsma_Questions \nSET QuestionText = '{qtext}'" 
    s = s + f"\n, help_text = '{help_text}'"
    s = s + f'\n, FK_QuestionType = ' + str(r['QuestionTypeID']) + ' ' 
    s = s + f"WHERE PK_Question = " + str(r['QPK']) + f";\n"
    s = s + f" -- OLD QGROUP {str(r['QGROUP'])} TYPE {str(r['QuestionTypeCode'])}\n"
    print( s )

In [ ]:
engine = create_engine(connstr)
conn = engine.connect()
query = """ \
SELECT QPK, QGROUP, IdText, QuestionTypeCode , QuestionTypeCode, QTEXT, help_text   
FROM  vw_MetricsCompositeKeys
WHERE PK_Form LIKE '%2022-Q1-CIO%'
"""  
df = pd.read_sql(query,con=conn) 
conn.close()

In [6]:
offset = 9
qg = 3200
fp = 3000

In [8]:
sections = [ 
{'id':'7a', 'text': 'Ground Truth Testing- Testing Activities'},
{'id':'7b', 'text': 'Ground Truth Testing- Penetration Testing'},
{'id':'7c', 'text': 'Ground Truth Testing- Vulnerability Disclosure Tools'},
{'id':'7d', 'text': 'Ground Truth Testing- Team Exercises'},
{'id':'8', 'text': 'Smart Patching'},
{'id':'9', 'text': 'Vulnerability Disclosure'},
{'id':'10', 'text': 'Resilience'}  
]
df_s = pd.DataFrame(sections)
df_s

   id                                               text
0  7a           Ground Truth Testing- Testing Activities
1  7b          Ground Truth Testing- Penetration Testing
2  7c  Ground Truth Testing- Vulnerability Disclosure...
3  7d               Ground Truth Testing- Team Exercises
4   8                                     Smart Patching
5   9                           Vulnerability Disclosure
6  10                                         Resilience

In [13]:
c = 9
for i,r in df_s.iterrows():
    n = c+i
    p = f"(@PK_FormPage+{n},@PK_Form, 'S1B: Identify - Assets', 'FismaForms/2022/2022_Q1_CIO_{r['id']}.aspx', {n}), ";
    print( p )

(@PK_FormPage+9,@PK_Form, 'S1B: Identify - Assets', 'FismaForms/2022/2022_Q1_CIO_7a.aspx', 9),
(@PK_FormPage+10,@PK_Form, 'S1B: Identify - Assets', 'FismaForms/2022/2022_Q1_CIO_7b.aspx', 10),
(@PK_FormPage+11,@PK_Form, 'S1B: Identify - Assets', 'FismaForms/2022/2022_Q1_CIO_7c.aspx', 11),
(@PK_FormPage+12,@PK_Form, 'S1B: Identify - Assets', 'FismaForms/2022/2022_Q1_CIO_7d.aspx', 12),
(@PK_FormPage+13,@PK_Form, 'S1B: Identify - Assets', 'FismaForms/2022/2022_Q1_CIO_8.aspx', 13),
(@PK_FormPage+14,@PK_Form, 'S1B: Identify - Assets', 'FismaForms/2022/2022_Q1_CIO_9.aspx', 14),
(@PK_FormPage+15,@PK_Form, 'S1B: Identify - Assets', 'FismaForms/2022/2022_Q1_CIO_10.aspx', 15),