In [1]:
import re, subprocess, pyodbc , json
import numpy as np # linear algebra 
from sqlalchemy import func, create_engine
from config import mongoConn, connstr  
import pandas as pd
from faker import Faker
fake = Faker()

In [2]:
engine = create_engine(connstr)
conn = engine.connect()
query = """ \
SELECT QPK, QGROUP, IdText, GroupName, QuestionTypeCode, QuestionTypeID, QTEXT    
FROM  vw_MetricsCompositeKeys
WHERE PK_Form LIKE '%2022-Q1-CIO%'
AND IdText LIKE '4.1._[a-z]'
"""  
df = pd.read_sql(query,con=conn) 
conn.close()
df = df.loc[df.IdText != '']
df

,QPK,QGROUP,IdText,GroupName,QuestionTypeCode,QuestionTypeID,QTEXT
0,27093,3207,4.1.1a,S4,CNT,2,Critical software incorporating security measure
1,27094,3207,4.1.1b,S4,CNT,2,Critical software for which risk of not incorp...
2,27095,3207,4.1.1c,S4,CNT,2,Critical software where security measure is no...
3,27097,3207,4.1.2a,S4,CNT,2,Critical software incorporating security measure
4,27098,3207,4.1.2b,S4,CNT,2,Critical software for which risk of not incorp...
5,27099,3207,4.1.2c,S4,CNT,2,Critical software where security measure is no...
6,27101,3207,4.1.3a,S4,CNT,2,Critical software incorporating security measure
7,27102,3207,4.1.3b,S4,CNT,2,Critical software for which risk of not incorp...
8,27103,3207,4.1.3c,S4,CNT,2,Critical software where security measure is no...
9,27105,3207,4.1.4a,S4,CNT,2,Critical software incorporating security measure
10,27106,3207,4.1.4b,S4,CNT,2,Critical software for which risk of not incorp...
11,27107,3207,4.1.4c,S4,CNT,2,Critical software where security measure is no...
12,27109,3207,4.1.5a,S4,CNT,2,Critical software incorporating security measure
13,27110,3207,4.1.5b,S4,CNT,2,Critical software for which risk of not incorp...
14,27111,3207,4.1.5c,S4,CNT,2,Critical software where security measure is no...
15,27116,3207,4.1.6a,S4,CNT,2,Critical software incorporating security measure
16,27117,3207,4.1.6b,S4,CNT,2,Critical software for which risk of not incorp...
17,27118,3207,4.1.6c,S4,CNT,2,Critical software where security measure is no...
18,27120,3207,4.1.7a,S4,CNT,2,Critical software incorporating security measure
19,27121,3207,4.1.7b,S4,CNT,2,Critical software for which risk of not incorp...
20,27122,3207,4.1.7c,S4,CNT,2,Critical software where security measure is no...

In [3]:
def idtxt(r):
    tmp = """ DECLARE @ANS_$1 INT = (SELECT CASE @PK_QuestionGroup WHEN 0 THEN TableAns ELSE COALESCE(CONVERT(INT,MetricAns),0) END FROM @ListofQuestions2 WHERE identifier_text='$2')"""
    tmp=tmp.replace('$1',r['IdText'].replace('.','_'))
    tmp=tmp.replace('$2',r['IdText'])
    return tmp

In [7]:
for i,r in df.iterrows(): 
    p = idtxt(r)
    print( p )

 DECLARE @ANS_4_1_1a INT = (SELECT CASE @PK_QuestionGroup WHEN 0 THEN TableAns ELSE COALESCE(CONVERT(INT,MetricAns),0) END FROM @ListofQuestions2 WHERE identifier_text='4.1.1a')
 DECLARE @ANS_4_1_1b INT = (SELECT CASE @PK_QuestionGroup WHEN 0 THEN TableAns ELSE COALESCE(CONVERT(INT,MetricAns),0) END FROM @ListofQuestions2 WHERE identifier_text='4.1.1b')
 DECLARE @ANS_4_1_1c INT = (SELECT CASE @PK_QuestionGroup WHEN 0 THEN TableAns ELSE COALESCE(CONVERT(INT,MetricAns),0) END FROM @ListofQuestions2 WHERE identifier_text='4.1.1c')
 DECLARE @ANS_4_1_2a INT = (SELECT CASE @PK_QuestionGroup WHEN 0 THEN TableAns ELSE COALESCE(CONVERT(INT,MetricAns),0) END FROM @ListofQuestions2 WHERE identifier_text='4.1.2a')
 DECLARE @ANS_4_1_2b INT = (SELECT CASE @PK_QuestionGroup WHEN 0 THEN TableAns ELSE COALESCE(CONVERT(INT,MetricAns),0) END FROM @ListofQuestions2 WHERE identifier_text='4.1.2b')
 DECLARE @ANS_4_1_2c INT = (SELECT CASE @PK_QuestionGroup WHEN 0 THEN TableAns ELSE COALESCE(CONVERT(INT,MetricAns),0) END FROM @ListofQuestions2 WHERE identifier_text='4.1.2c')
 DECLARE @ANS_4_1_3a INT = (SELECT CASE @PK_QuestionGroup WHEN 0 THEN TableAns ELSE COALESCE(CONVERT(INT,MetricAns),0) END FROM @ListofQuestions2 WHERE identifier_text='4.1.3a')
 DECLARE @ANS_4_1_3b INT = (SELECT CASE @PK_QuestionGroup WHEN 0 THEN TableAns ELSE COALESCE(CONVERT(INT,MetricAns),0) END FROM @ListofQuestions2 WHERE identifier_text='4.1.3b')
 DECLARE @ANS_4_1_3c INT = (SELECT CASE @PK_QuestionGroup WHEN 0 THEN TableAns ELSE COALESCE(CONVERT(INT,MetricAns),0) END FROM @ListofQuestions2 WHERE identifier_text='4.1.3c')
 DECLARE @ANS_4_1_4a INT = (SELECT CASE @PK_QuestionGroup WHEN 0 THEN TableAns ELSE COALESCE(CONVERT(INT,MetricAns),0) END FROM @ListofQuestions2 WHERE identifier_text='4.1.4a')
 DECLARE @ANS_4_1_4b INT = (SELECT CASE @PK_QuestionGroup WHEN 0 THEN TableAns ELSE COALESCE(CONVERT(INT,MetricAns),0) END FROM @ListofQuestions2 WHERE identifier_text='4.1.4b')
 DECLARE @ANS_4_1_4c INT = (SELECT CASE @PK_QuestionGroup WHEN 0 THEN TableAns ELSE COALESCE(CONVERT(INT,MetricAns),0) END FROM @ListofQuestions2 WHERE identifier_text='4.1.4c')
 DECLARE @ANS_4_1_5a INT = (SELECT CASE @PK_QuestionGroup WHEN 0 THEN TableAns ELSE COALESCE(CONVERT(INT,MetricAns),0) END FROM @ListofQuestions2 WHERE identifier_text='4.1.5a')
 DECLARE @ANS_4_1_5b INT = (SELECT CASE @PK_QuestionGroup WHEN 0 THEN TableAns ELSE COALESCE(CONVERT(INT,MetricAns),0) END FROM @ListofQuestions2 WHERE identifier_text='4.1.5b')
 DECLARE @ANS_4_1_5c INT = (SELECT CASE @PK_QuestionGroup WHEN 0 THEN TableAns ELSE COALESCE(CONVERT(INT,MetricAns),0) END FROM @ListofQuestions2 WHERE identifier_text='4.1.5c')
 DECLARE @ANS_4_1_6a INT = (SELECT CASE @PK_QuestionGroup WHEN 0 THEN TableAns ELSE COALESCE(CONVERT(INT,MetricAns),0) END FROM @ListofQuestions2 WHERE identifier_text='4.1.6a')
 DECLARE @ANS_4_1_6b INT = (SELECT CASE @PK_QuestionGroup WHEN 0 THEN TableAns ELSE COALESCE(CONVERT(INT,MetricAns),0) END FROM @ListofQuestions2 WHERE identifier_text='4.1.6b')
 DECLARE @ANS_4_1_6c INT = (SELECT CASE @PK_QuestionGroup WHEN 0 THEN TableAns ELSE COALESCE(CONVERT(INT,MetricAns),0) END FROM @ListofQuestions2 WHERE identifier_text='4.1.6c')
 DECLARE @ANS_4_1_7a INT = (SELECT CASE @PK_QuestionGroup WHEN 0 THEN TableAns ELSE COALESCE(CONVERT(INT,MetricAns),0) END FROM @ListofQuestions2 WHERE identifier_text='4.1.7a')
 DECLARE @ANS_4_1_7b INT = (SELECT CASE @PK_QuestionGroup WHEN 0 THEN TableAns ELSE COALESCE(CONVERT(INT,MetricAns),0) END FROM @ListofQuestions2 WHERE identifier_text='4.1.7b')
 DECLARE @ANS_4_1_7c INT = (SELECT CASE @PK_QuestionGroup WHEN 0 THEN TableAns ELSE COALESCE(CONVERT(INT,MetricAns),0) END FROM @ListofQuestions2 WHERE identifier_text='4.1.7c')

In [17]:
 for i,r in df.iterrows(): 
    p = r['IdText'].replace('.','_')
    idd = r['IdText']
    print( 
    f"""
		IF @ANS_{p} > @ANS_4_1
		BEGIN
			INSERT INTO @ErrorTable  
			SELECT  PK_Question, PK_FormPage, page_sort_pos, questgroup_sort_pos, quest_sort_pos
			, ('The number provided for ' + identifier_text + ' cannot exceed the value of 4.1 : '  + QuestionText) Error, identifier_text
			FROM vw_OrgSubQuestions WHERE  identifier_text='{idd}' AND PK_OrgSubmission = @PK_OrgSubmission  
		END"""
    )

		IF @ANS_4_1_1a > @ANS_4_1
		BEGIN
			INSERT INTO @ErrorTable
			SELECT  PK_Question, PK_FormPage, page_sort_pos, questgroup_sort_pos, quest_sort_pos
			, ('The number provided for ' + identifier_text + ' cannot exceed the value of 4.1 : '  + QuestionText) Error, identifier_text
			FROM vw_OrgSubQuestions WHERE  identifier_text='4.1.1a' AND PK_OrgSubmission = @PK_OrgSubmission
		END

		IF @ANS_4_1_1b > @ANS_4_1
		BEGIN
			INSERT INTO @ErrorTable
			SELECT  PK_Question, PK_FormPage, page_sort_pos, questgroup_sort_pos, quest_sort_pos
			, ('The number provided for ' + identifier_text + ' cannot exceed the value of 4.1 : '  + QuestionText) Error, identifier_text
			FROM vw_OrgSubQuestions WHERE  identifier_text='4.1.1b' AND PK_OrgSubmission = @PK_OrgSubmission
		END

		IF @ANS_4_1_1c > @ANS_4_1
		BEGIN
			INSERT INTO @ErrorTable
			SELECT  PK_Question, PK_FormPage, page_sort_pos, questgroup_sort_pos, quest_sort_pos
			, ('The number provided for ' + identifier_text + ' cannot exceed the value of 4.1 : '  + QuestionText) Error, identifier_text
			FROM vw_OrgSubQuestions WHERE  identifier_text='4.1.1c' AND PK_OrgSubmission = @PK_OrgSubmission
		END

		IF @ANS_4_1_2a > @ANS_4_1
		BEGIN
			INSERT INTO @ErrorTable
			SELECT  PK_Question, PK_FormPage, page_sort_pos, questgroup_sort_pos, quest_sort_pos
			, ('The number provided for ' + identifier_text + ' cannot exceed the value of 4.1 : '  + QuestionText) Error, identifier_text
			FROM vw_OrgSubQuestions WHERE  identifier_text='4.1.2a' AND PK_OrgSubmission = @PK_OrgSubmission
		END

		IF @ANS_4_1_2b > @ANS_4_1
		BEGIN
			INSERT INTO @ErrorTable
			SELECT  PK_Question, PK_FormPage, page_sort_pos, questgroup_sort_pos, quest_sort_pos
			, ('The number provided for ' + identifier_text + ' cannot exceed the value of 4.1 : '  + QuestionText) Error, identifier_text
			FROM vw_OrgSubQuestions WHERE  identifier_text='4.1.2b' AND PK_OrgSubmission = @PK_OrgSubmission
		END

		IF @ANS_4_1_2c > @ANS_4_1
		BEGIN
			INSERT INTO @ErrorTable
			SELECT  PK_Question, PK_FormPage, page_sort_pos, questgroup_sort_pos, quest_sort_pos
			, ('The number provided for ' + identifier_text + ' cannot exceed the value of 4.1 : '  + QuestionText) Error, identifier_text
			FROM vw_OrgSubQuestions WHERE  identifier_text='4.1.2c' AND PK_OrgSubmission = @PK_OrgSubmission
		END

		IF @ANS_4_1_3a > @ANS_4_1
		BEGIN
			INSERT INTO @ErrorTable
			SELECT  PK_Question, PK_FormPage, page_sort_pos, questgroup_sort_pos, quest_sort_pos
			, ('The number provided for ' + identifier_text + ' cannot exceed the value of 4.1 : '  + QuestionText) Error, identifier_text
			FROM vw_OrgSubQuestions WHERE  identifier_text='4.1.3a' AND PK_OrgSubmission = @PK_OrgSubmission
		END

		IF @ANS_4_1_3b > @ANS_4_1
		BEGIN
			INSERT INTO @ErrorTable
			SELECT  PK_Question, PK_FormPage, page_sort_pos, questgroup_sort_pos, quest_sort_pos
			, ('The number provided for ' + identifier_text + ' cannot exceed the value of 4.1 : '  + QuestionText) Error, identifier_text
			FROM vw_OrgSubQuestions WHERE  identifier_text='4.1.3b' AND PK_OrgSubmission = @PK_OrgSubmission
		END

		IF @ANS_4_1_3c > @ANS_4_1
		BEGIN
			INSERT INTO @ErrorTable
			SELECT  PK_Question, PK_FormPage, page_sort_pos, questgroup_sort_pos, quest_sort_pos
			, ('The number provided for ' + identifier_text + ' cannot exceed the value of 4.1 : '  + QuestionText) Error, identifier_text
			FROM vw_OrgSubQuestions WHERE  identifier_text='4.1.3c' AND PK_OrgSubmission = @PK_OrgSubmission
		END

		IF @ANS_4_1_4a > @ANS_4_1
		BEGIN
			INSERT INTO @ErrorTable
			SELECT  PK_Question, PK_FormPage, page_sort_pos, questgroup_sort_pos, quest_sort_pos
			, ('The number provided for ' + identifier_text + ' cannot exceed the value of 4.1 : '  + QuestionText) Error, identifier_text
			FROM vw_OrgSubQuestions WHERE  identifier_text='4.1.4a' AND PK_OrgSubmission = @PK_OrgSubmission
		END

		IF @ANS_4_1_4b > @ANS_4_1
		BEGIN
			INSERT INTO @ErrorTable
			SELECT  PK_Question, PK_FormPage, page_sort_pos, questgroup_sort_pos, quest_sort_pos
			, ('The number provided for ' + identifier_text + ' cannot exceed the value of 4.1 : '  + QuestionText) Error, identifier_text
			FROM vw_OrgSubQuestions WHERE  identifier_text='4.1.4b' AND PK_OrgSubmission = @PK_OrgSubmission
		END

		IF @ANS_4_1_4c > @ANS_4_1
		BEGIN
			INSERT INTO @ErrorTable
			SELECT  PK_Question, PK_FormPage, page_sort_pos, questgroup_sort_pos, quest_sort_pos
			, ('The number provided for ' + identifier_text + ' cannot exceed the value of 4.1 : '  + QuestionText) Error, identifier_text
			FROM vw_OrgSubQuestions WHERE  identifier_text='4.1.4c' AND PK_OrgSubmission = @PK_OrgSubmission
		END

		IF @ANS_4_1_5a > @ANS_4_1
		BEGIN
			INSERT INTO @ErrorTable
			SELECT  PK_Question, PK_FormPage, page_sort_pos, questgroup_sort_pos, quest_sort_pos
			, ('The number provided for ' + identifier_text + ' cannot exceed the value of 4.1 : '  + QuestionText) Error, identifier_text
			FROM vw_OrgSubQuestions WHERE  identifier_text='4.1.5a' AND PK_OrgSubmission = @PK_OrgSubmission
		END

		IF @ANS_4_1_5b > @ANS_4_1
		BEGIN
			INSERT INTO @ErrorTable
			SELECT  PK_Question, PK_FormPage, page_sort_pos, questgroup_sort_pos, quest_sort_pos
			, ('The number provided for ' + identifier_text + ' cannot exceed the value of 4.1 : '  + QuestionText) Error, identifier_text
			FROM vw_OrgSubQuestions WHERE  identifier_text='4.1.5b' AND PK_OrgSubmission = @PK_OrgSubmission
		END

		IF @ANS_4_1_5c > @ANS_4_1
		BEGIN
			INSERT INTO @ErrorTable
			SELECT  PK_Question, PK_FormPage, page_sort_pos, questgroup_sort_pos, quest_sort_pos
			, ('The number provided for ' + identifier_text + ' cannot exceed the value of 4.1 : '  + QuestionText) Error, identifier_text
			FROM vw_OrgSubQuestions WHERE  identifier_text='4.1.5c' AND PK_OrgSubmission = @PK_OrgSubmission
		END

		IF @ANS_4_1_6a > @ANS_4_1
		BEGIN
			INSERT INTO @ErrorTable
			SELECT  PK_Question, PK_FormPage, page_sort_pos, questgroup_sort_pos, quest_sort_pos
			, ('The number provided for ' + identifier_text + ' cannot exceed the value of 4.1 : '  + QuestionText) Error, identifier_text
			FROM vw_OrgSubQuestions WHERE  identifier_text='4.1.6a' AND PK_OrgSubmission = @PK_OrgSubmission
		END

		IF @ANS_4_1_6b > @ANS_4_1
		BEGIN
			INSERT INTO @ErrorTable
			SELECT  PK_Question, PK_FormPage, page_sort_pos, questgroup_sort_pos, quest_sort_pos
			, ('The number provided for ' + identifier_text + ' cannot exceed the value of 4.1 : '  + QuestionText) Error, identifier_text
			FROM vw_OrgSubQuestions WHERE  identifier_text='4.1.6b' AND PK_OrgSubmission = @PK_OrgSubmission
		END

		IF @ANS_4_1_6c > @ANS_4_1
		BEGIN
			INSERT INTO @ErrorTable
			SELECT  PK_Question, PK_FormPage, page_sort_pos, questgroup_sort_pos, quest_sort_pos
			, ('The number provided for ' + identifier_text + ' cannot exceed the value of 4.1 : '  + QuestionText) Error, identifier_text
			FROM vw_OrgSubQuestions WHERE  identifier_text='4.1.6c' AND PK_OrgSubmission = @PK_OrgSubmission
		END

		IF @ANS_4_1_7a > @ANS_4_1
		BEGIN
			INSERT INTO @ErrorTable
			SELECT  PK_Question, PK_FormPage, page_sort_pos, questgroup_sort_pos, quest_sort_pos
			, ('The number provided for ' + identifier_text + ' cannot exceed the value of 4.1 : '  + QuestionText) Error, identifier_text
			FROM vw_OrgSubQuestions WHERE  identifier_text='4.1.7a' AND PK_OrgSubmission = @PK_OrgSubmission
		END

		IF @ANS_4_1_7b > @ANS_4_1
		BEGIN
			INSERT INTO @ErrorTable
			SELECT  PK_Question, PK_FormPage, page_sort_pos, questgroup_sort_pos, quest_sort_pos
			, ('The number provided for ' + identifier_text + ' cannot exceed the value of 4.1 : '  + QuestionText) Error, identifier_text
			FROM vw_OrgSubQuestions WHERE  identifier_text='4.1.7b' AND PK_OrgSubmission = @PK_OrgSubmission
		END

		IF @ANS_4_1_7c > @ANS_4_1
		BEGIN
			INSERT INTO @ErrorTable
			SELECT  PK_Question, PK_FormPage, page_sort_pos, questgroup_sort_pos, quest_sort_pos
			, ('The number provided for ' + identifier_text + ' cannot exceed the value of 4.1 : '  + QuestionText) Error, identifier_text
			FROM vw_OrgSubQuestions WHERE  identifier_text='4.1.7c' AND PK_OrgSubmission = @PK_OrgSubmission
		END